[submodule "MyFFmpegPlayer/libraries/PullToRefresh-ListView"]
	path = MyFFmpegPlayer/libraries/PullToRefresh-ListView
	url = https://github.com/bennyk/PullToRefresh-ListView
[submodule "MyFFmpegPlayer/libraries/MyFFmpegLibrary/jni/glm"]
	path = MyFFmpegPlayer/libraries/MyFFmpegLibrary/jni/glm
	url = https://github.com/g-truc/glm
